# Student Alcohol Consumption

###

In [1]:
import numpy as np
import pandas as pd

###

In [2]:
student_mat = pd.read_csv('../input/student-mat.csv')
student_mat.head()

  school sex  age address famsize ... health  absences  G1  G2  G3
0     GP   F   18       U     GT3 ...      3         6   5   6   6
1     GP   F   17       U     GT3 ...      3         4   5   5   6
2     GP   F   15       U     LE3 ...      3        10   7   8  10
3     GP   F   15       U     GT3 ...      5         2  15  14  15
4     GP   F   16       U     GT3 ...      5         4   6  10  10

[5 rows x 33 columns]

In [3]:
student_por = pd.read_csv('../input/student-por.csv')
student_por.head()

  school sex  age address famsize ... health  absences  G1  G2  G3
0     GP   F   18       U     GT3 ...      3         4   0  11  11
1     GP   F   17       U     GT3 ...      3         2   9  11  11
2     GP   F   15       U     LE3 ...      3         6  12  13  12
3     GP   F   15       U     GT3 ...      5         0  14  14  14
4     GP   F   16       U     GT3 ...      5         0  11  13  13

[5 rows x 33 columns]

In [4]:
print(student_por.count())
print(student_mat.count())

school        649
sex           649
age           649
address       649
famsize       649
Pstatus       649
Medu          649
Fedu          649
Mjob          649
Fjob          649
reason        649
guardian      649
traveltime    649
studytime     649
failures      649
schoolsup     649
famsup        649
paid          649
activities    649
nursery       649
higher        649
internet      649
romantic      649
famrel        649
freetime      649
goout         649
Dalc          649
Walc          649
health        649
absences      649
G1            649
G2            649
G3            649
dtype: int64
school        395
sex           395
age           395
address       395
famsize       395
Pstatus       395
Medu          395
Fedu          395
Mjob          395
Fjob          395
reason        395
guardian      395
traveltime    395
studytime     395
failures      395
schoolsup     395
famsup        395
paid          395
activities    395
nursery       395
higher        395
internet      395
romantic      395
famrel        395
freetime      395
goout         395
Dalc          395
Walc          395
health        395
absences      395
G1            395
G2            395
G3            395
dtype: int64

In [5]:
df= pd.concat([student_mat, student_por])
df.count()

school        1044
sex           1044
age           1044
address       1044
famsize       1044
Pstatus       1044
Medu          1044
Fedu          1044
Mjob          1044
Fjob          1044
reason        1044
guardian      1044
traveltime    1044
studytime     1044
failures      1044
schoolsup     1044
famsup        1044
paid          1044
activities    1044
nursery       1044
higher        1044
internet      1044
romantic      1044
famrel        1044
freetime      1044
goout         1044
Dalc          1044
Walc          1044
health        1044
absences      1044
G1            1044
G2            1044
G3            1044
dtype: int64

In [6]:
df = df.reset_index()
df.tail()

      index school sex  age address ... health absences  G1  G2  G3
1039    644     MS   F   19       R ...      5        4  10  11  10
1040    645     MS   F   18       U ...      1        4  15  15  16
1041    646     MS   F   18       U ...      5        6  11  12   9
1042    647     MS   M   17       U ...      2        6  10  10  10
1043    648     MS   M   18       R ...      5        4  10  11  11

[5 rows x 34 columns]

In [7]:
df.columns

Index(['index', 'school', 'sex', 'age', 'address', 'famsize', 'Pstatus',
       'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime',
       'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime',
       'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

1. ### slice the dataframe from 'school' until the 'guardian' column

In [8]:
df1 = df[['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu','Mjob', 'Fjob', 'reason', 'guardian']]
df1.head()

  school sex  age address    ...        Mjob      Fjob  reason  guardian
0     GP   F   18       U    ...     at_home   teacher  course    mother
1     GP   F   17       U    ...     at_home     other  course    father
2     GP   F   15       U    ...     at_home     other   other    mother
3     GP   F   15       U    ...      health  services    home    mother
4     GP   F   16       U    ...       other     other    home    father

[5 rows x 12 columns]

### Step 5. Create a lambda function that captalize strings.

In [9]:
#func = lambda x: x.upper()
func = lambda x: x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [10]:
df1.Mjob = df1.Mjob.apply(func)
df1.Fjob = df1.Fjob.apply(func)
df1.head()

/opt/conda/lib/python3.6/site-packages/pandas/core/generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

  school sex  age address    ...        Mjob      Fjob  reason  guardian
0     GP   F   18       U    ...     At_home   Teacher  course    mother
1     GP   F   17       U    ...     At_home     Other  course    father
2     GP   F   15       U    ...     At_home     Other   other    mother
3     GP   F   15       U    ...      Health  Services    home    mother
4     GP   F   16       U    ...       Other     Other    home    father

[5 rows x 12 columns]

### Step 7. Print the last elements of the data set.

In [11]:
df1.tail(1)

     school sex  age address    ...         Mjob   Fjob  reason  guardian
1043     MS   M   18       R    ...     Services  Other  course    mother

[1 rows x 12 columns]

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and captalize Mjob and Fjob.

In [12]:
df.Mjob = df.Mjob.apply(func)
df.Fjob = df.Fjob.apply(func)

In [13]:
df.index= df['index']
df = df.drop(['index'],axis =1)

In [14]:
df.head()

      school sex  age address famsize ... health  absences  G1  G2  G3
index                                 ...
0         GP   F   18       U     GT3 ...      3         6   5   6   6
1         GP   F   17       U     GT3 ...      3         4   5   5   6
2         GP   F   15       U     LE3 ...      3        10   7   8  10
3         GP   F   15       U     GT3 ...      5         2  15  14  15
4         GP   F   16       U     GT3 ...      5         4   6  10  10

[5 rows x 33 columns]

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker

In [15]:
def majority(x):
    if x >= 18:
        return True
    else:
        return False

In [16]:
df1['legal_drinker'] = df1['age'].apply(majority)

In [17]:
df1.head()

  school sex  age      ...       reason guardian legal_drinker
0     GP   F   18      ...       course   mother          True
1     GP   F   17      ...       course   father         False
2     GP   F   15      ...        other   mother         False
3     GP   F   15      ...         home   mother         False
4     GP   F   16      ...         home   father         False

[5 rows x 13 columns]

### Step 10. Multiply every number of the dataset by 10.

In [18]:
def mul(x):
    if type(x)== int:
        return x*10
    else:
        return x

In [19]:
df.applymap(mul)

      school sex  age address famsize ...  health  absences   G1   G2   G3
index                                 ...
0         GP   F  180       U     GT3 ...      30        60   50   60   60
1         GP   F  170       U     GT3 ...      30        40   50   50   60
2         GP   F  150       U     LE3 ...      30       100   70   80  100
3         GP   F  150       U     GT3 ...      50        20  150  140  150
4         GP   F  160       U     GT3 ...      50        40   60  100  100
5         GP   M  160       U     LE3 ...      50       100  150  150  150
6         GP   M  160       U     LE3 ...      30         0  120  120  110
7         GP   F  170       U     GT3 ...      10        60   60   50   60
8         GP   M  150       U     LE3 ...      10         0  160  180  190
9         GP   M  150       U     GT3 ...      50         0  140  150  150
10        GP   F  150       U     GT3 ...      20         0  100   80   90
11        GP   F  150       U     GT3 ...      40        40  100  120  120
12        GP   M  150       U     LE3 ...      50        20  140  140  140
13        GP   M  150       U     GT3 ...      30        20  100  100  110
14        GP   M  150       U     GT3 ...      30         0  140  160  160
15        GP   F  160       U     GT3 ...      20        40  140  140  140
16        GP   F  160       U     GT3 ...      20        60  130  140  140
17        GP   F  160       U     GT3 ...      40        40   80  100  100
18        GP   M  170       U     GT3 ...      50       160   60   50   50
19        GP   M  160       U     LE3 ...      50        40   80  100  100
20        GP   M  150       U     GT3 ...      10         0  130  140  150
21        GP   M  150       U     GT3 ...      50         0  120  150  150
22        GP   M  160       U     LE3 ...      50        20  150  150  160
23        GP   M  160       U     LE3 ...      50         0  130  130  120
24        GP   F  150       R     GT3 ...      50        20  100   90   80
25        GP   F  160       U     GT3 ...      50       140   60   90   80
26        GP   M  150       U     GT3 ...      50        20  120  120  110
27        GP   M  150       U     GT3 ...      10        40  150  160  150
28        GP   M  160       U     LE3 ...      50        40  110  110  110
29        GP   M  160       U     GT3 ...      50       160  100  120  110
...      ...  ..  ...     ...     ... ...     ...       ...  ...  ...  ...
619       MS   F  180       U     GT3 ...      30        60  130  120  130
620       MS   F  170       U     LE3 ...      10        40  150  140  150
621       MS   F  170       R     GT3 ...      30         0  130  130  130
622       MS   M  180       R     GT3 ...      30         0   80  100   90
623       MS   M  180       U     LE3 ...      50         0  150  160  160
624       MS   F  170       R     GT3 ...      10         0   80   80   90
625       MS   F  180       U     GT3 ...      40         0  100  100  100
626       MS   F  180       R     GT3 ...      50         0   70   50    0
627       MS   M  180       R     LE3 ...      30        30   90  100  100
628       MS   F  170       U     GT3 ...      30        80  100  110  120
629       MS   F  170       R     GT3 ...      10        40   70   80   90
630       MS   F  180       R     LE3 ...      10         0  150  170  170
631       MS   F  180       R     GT3 ...      40        40  100  110  120
632       MS   F  190       R     GT3 ...      30        40   70   80   90
633       MS   F  180       R     LE3 ...      20        10  130  140  140
634       MS   F  180       U     GT3 ...      10        10  160  160  160
635       MS   F  170       R     GT3 ...      10       100   80   90   90
636       MS   M  180       U     GT3 ...      20        40  170  180  190
637       MS   M  180       R     GT3 ...      50         0   70   70    0
638       MS   M  170       U     GT3 ...      30        40  140  150  160
639       MS   M  190       R     GT3 ...      50         0   50   80    0
640       MS   M  180       R     GT3 ...      30         0   70   70    0
641       MS   F  180       R     GT3 ...      40         0  140  170  150
642       MS   F  170       U     GT3 ...      10         0   60   90  110
643       MS   F  180       R     GT3 ...      50        40   70   90  100
644       MS   F  190       R     GT3 ...      50        40  100  110  100
645       MS   F  180       U     LE3 ...      10        40  150  150  160
646       MS   F  180       U     GT3 ...      50        60  110  120   90
647       MS   M  170       U     LE3 ...      20        60  100  100  100
648       MS   M  180       R     LE3 ...      50        40  100  110  110

[1044 rows x 33 columns]