# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

###

In [1]:
import pandas as pd
import numpy as np

###

In [2]:
car1 = pd.read_csv(r'../input/cars1.csv')
car2 = pd.read_csv(r'../input/cars2.csv')

In [3]:
car1.head()

    mpg  cylinders     ...      Unnamed: 12 Unnamed: 13
0  18.0          8     ...              NaN         NaN
1  15.0          8     ...              NaN         NaN
2  18.0          8     ...              NaN         NaN
3  16.0          8     ...              NaN         NaN
4  17.0          8     ...              NaN         NaN

[5 rows x 14 columns]

In [4]:
car2.head()

    mpg  cylinders         ...          origin                 car
0  33.0          4         ...               3         honda civic
1  20.0          6         ...               1      dodge aspen se
2  18.0          6         ...               1   ford granada ghia
3  18.5          6         ...               1  pontiac ventura sj
4  17.5          6         ...               1       amc pacer d/l

[5 rows x 9 columns]

In [5]:
car1.drop(['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13'],axis=1,inplace = True)
car1.head()

    mpg  cylinders            ...              origin                        car
0  18.0          8            ...                   1  chevrolet chevelle malibu
1  15.0          8            ...                   1          buick skylark 320
2  18.0          8            ...                   1         plymouth satellite
3  16.0          8            ...                   1              amc rebel sst
4  17.0          8            ...                   1                ford torino

[5 rows x 9 columns]

In [6]:
print(car1.count())
print(car2.count())

mpg             198
cylinders       198
displacement    198
horsepower      198
weight          198
acceleration    198
model           198
origin          198
car             198
dtype: int64
mpg             200
cylinders       200
displacement    200
horsepower      200
weight          200
acceleration    200
model           200
origin          200
car             200
dtype: int64

In [7]:
print(car1.columns)
print(car2.columns)

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car'],
      dtype='object')
Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car'],
      dtype='object')

In [8]:
#np.concatenate(car1,car2)

cars = pd.concat([car1,car2])

                
#pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)

In [9]:
cars.head() 
cars.count()

mpg             398
cylinders       398
displacement    398
horsepower      398
weight          398
acceleration    398
model           398
origin          398
car             398
dtype: int64

In [10]:
import random as rd
owners = []
for i in range(0,(len(cars))):
          owners.append(rd.randint(15000,73000))
        
len(owners)

398

###

In [11]:
cars['owners'] = owners
cars.head()

    mpg  cylinders  ...                          car owners
0  18.0          8  ...    chevrolet chevelle malibu  25204
1  15.0          8  ...            buick skylark 320  65929
2  18.0          8  ...           plymouth satellite  65091
3  16.0          8  ...                amc rebel sst  68221
4  17.0          8  ...                  ford torino  34442

[5 rows x 10 columns]